ModuleCreator
Expense_Tracker_Module/data
Password_Generator_Module/data
BookStore_Inventory_Manager/data
BMI_Calculator/data
Dice_Roller_Module/data
Unit_Converter/data
Weekly_Meal_Planner/data
Todo_List_Manager/data
